@import './utils/variables';
@import './utils/mixin';
@import './base//fonts';
@import './base/container';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/acquaintance';
@import './blocks/users';
@import './blocks/register';
@import './blocks/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', 'Asap', sans-serif;
}
